/* Default navbar (desktop) */
.navbar {
  display: flex;
  gap: 1.5rem;
}
.home-img {
  position: relative;
  
  border-radius: 50%;
  overflow: hidden;
  transition: transform .35s ease;
  border: 4px solid var(--primary);
  
}
.home-img span{
  position: absolute;
  inset:0;
  opacity: 456;
  transition:opacity .35s ease;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

/* Mobile menu hidden by default */
@media (max-width: 768px) {
   .navbar{
    position:absolute; top:64px; right:18px; left:18px;
    flex-direction:column; background:var(--card);
    border:1px solid var(--border); border-radius:16px;
    padding:10px; display:none;
  }
  .navbar.active { display:flex } /* ✅ match JS */
  }

  /* When active, slide in */

  /* Menu icon styles */
  #menu-icon {
    display: block;
    font-size: 2rem;
    cursor: pointer;
    z-index: 1001;
  }


/* Desktop always visible */
@media (min-width: 769px) {
  .navbar {
    position: static;
    height: auto;
    flex-direction: row;
    background: transparent;
  }
  #menu-icon {
    display: none;
  }
}
